.brewery-item {
  display: flex;
  flex-direction: column;
  width: 24%;
  height: 200px;
  text-decoration: none;
  cursor: pointer;
  color: #363636;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.11);
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.11);
  position: relative;
  background-color: white;
  border-radius: 4px;
  .body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    .name {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .street, .city, .country {
      font-size: 12px;
      line-height: 16px;
    }
  }

  .type-section {
    border-top: 0.5px #ebebeb solid;
    width: 100%;
    position: absolute;
    bottom: 10px;
    padding-top: 6px;
    .type {
      margin: 8px 16px;
      border-radius: 4px;
      padding: 4px 10px;
      font-size: 10px;
      font-weight: bold;
      color: white;
      background-color: #2d2b2b;
    }
    .micro {
      background-color: #2c756a;
      color: white;
    }
    .nano {

    }
    .regional {
      background-color: #3273dc;
      color: white;
    }
    .brewpub {
      background-color: #ffdd57;
      color: #363636;
    }
    .large {
      background-color: #b732dc;
      color: white;
    }
    .planning {
      background-color: #1c6c18;
      color: white;
    }
    .bar {
      background-color: #dc4b32;
      color: white;
    }
    .contract {
      background-color: #363636;
      color: white;
    }
    .proprietor {
      background-color: #0b3275;
      color: white;
    }
    .closed {
      background-color: #dc3232;
      color: white;
    }
  }
}

@media (max-width: 680px) {
  .brewery-item {
    width: 48%;
    .body {
      .name {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 16px;
      }
      .street, .city, .country {
        font-size: 10px;
        line-height: 12px;
      }
    }
  }
}

@media (min-width: 681px) and (max-width: 1024px) {
  .brewery-item {
    width: 23%;
    .body {
      .name {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 12px;
      }
      .street, .city, .country {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}